* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  list-style: none;
}

body {
  text-align: center;
  background-color: #455575;
  min-height: 100vh;
}

@media screen and (min-width: 1025px) {
  .App{
    margin: 0 20%;
}
}

.btn-search {
  border-left: none;
  outline: none ;
  position: absolute;
}

.image-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.image-list li img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.main-nav ul li {
  background-color: #051c33;
  color: white;
  text-decoration: none;
}

.main-nav a {
  text-decoration: none;
  display: block;
  background: #051c33;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}